<ion-view view-title="Comment">
  <ion-header-bar class="bar bar-header" align-title="left">
    <h1 class="title"><span class="lefttitle">Comment</span></h1>
    <button class="button button-icon icon ion-android-close" ui-sref="detail" nav-transition="back"></button>
  </ion-header-bar>
  <ion-content class="padding" id="comment-inform">
    <textarea id="comment-textarea" placeholder="This attachment is way too big.   Please be noted next time." focusme ng-trim="true" ng-keydown="doOnKeydown($event)" ng-model="comment.draft"></textarea>
  </ion-content>
</ion-view>
