<ion-view view-title="Login" name="login-view" style="background-color:#439EDF">
  <style>
    .actionsheet-gesture .action-sheet-title {
        font-size: 18px;
        text-align: left;
        padding-bottom: 200px !important;
        width: 100%;
    }
   
      
  </style>
  <div>
    <h1 style="font-size:20px;margin-top:15px;margin-left:15px;">Set Unlock Gesture</h1>
  </div>
  <ion-content class="center" ng-controller="LoginCtrl">
      <div style="text-align:center;color:#FAFAFA">
        <h4 id="title">Please create a new gesture.</h4>
      </div>
    <div id="lockPattern" class="pattern-holder patt-holder"></div>
  </ion-content>
  </ion-view>
