<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <ion-header-bar align-title="left">
      <h1 class="title" style="margin:0"><i class="demo-icon icon-th-large">&#xe800;</i>WISE</h1>
  </ion-header-bar>
    <style>
     .menucontent .item{
       border:0;
     }
    </style>
    <ion-content class="has-header menucontent" overflow-scroll="true" style="overflow: hidden">
      <ion-list>
        <ion-item menu-close ui-sref="app.home">
          ToApprove
        </ion-item>
        <ion-item>
        </ion-item>
        <ion-item>
        </ion-item>
        <ion-item>
        </ion-item>
        <ion-item>
        </ion-item>
           <ion-item>
        </ion-item>
        <ion-item>
        </ion-item>
        <ion-item>
        </ion-item>
           <ion-item>
        </ion-item>
        <ion-item>
        </ion-item>
        <ion-item>
        </ion-item>
           <ion-item>
        </ion-item>
        <ion-item >
          ZhouNana
        </ion-item>
        <ion-item >
        <span style="color:#000;font-weight:900">Sony</span><a class="close" menu-close ui-sref="login"></a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
