
<ion-view view-title="Wise ToApprove" cache-view="true">
    <ion-header-bar align-title="left">
        <div class="title"><span class="lefttitle">Search<span>
        </div>
       <button class="button button-icon icon ion-android-close" ng-click="goBack()" nav-transition="none"></button>
    </ion-header-bar>

    <ion-header-bar class="bar-subheader" ng-click="showActionsheet()" align-title="left">
        <div class="subtitle"><span class="subtext">5109200742</span><span class="subheaderright">7</span></div>
    </ion-header-bar>

    <style>
        .platform-android .action-sheet .button.activated {
            background: #439EDF;
            color: #fff;
        }
    </style>
    <ion-content class="content-home">
          <ion-refresher pulling-icon="" refreshing-icon="ios-small" on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ul>
                <ion-item ng-repeat="item in items" class="item-remove-animate">
                    <li ng-click="forward({{item.id}})">
                        <p class="main"> {{item.applier}}<span class="right">{{item.applydate}}</span></p>
                        <p class="submain">{{item.applytype}}</p>
                        <p class="details" style="">{{item.description}}</p>
                    </li>

                </ion-item>
            </ul>
        </ion-list>
        <!--上拉更多 ng-if="moreDataCanBeLoaded()"-->
        <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
        <!--cotent end-->
    </ion-content>

</ion-view>